<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Maccori.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4F4ADE92182DD9C9007AC796</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F57013C180E5D0E00E12444</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F64C15718A53D9C00FBEE9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
